# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar el ejecutable compilado del backend de Spring Boot
src-tauri/resources/backend.jar

# Ignorar el entorno de ejecución de Java (JRE) local del sistema operativo
src-tauri/resources/jre/

# Asegurar que la carpeta de compilación de Rust esté completamente fuera de Git
src-tauri/target/